<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

</html>

{% block content %}

<body class="patient">
  <div class="container w-100">
    <main id="content" class="pad" role="main">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6 col-10">

          <section class="widget animated fadeInUp">
            <header style="text-align: center;">
              <h3>Covid-19</h3>
            </header>
            <form>
              <div class="form-group">
                <label for="cpf">CPF</label>
                <input class="form-control" id="cpf" name="cpf" placeholder="">
              </div>
              <div class="form-group">
                <label for="temp">Temperatura</label>
                <input class="form-control" id="temp" name="temp" placeholder="">
              </div>
              <div class="form-group">
                <label for="batimentos">Frequência Cardíaca</label>
                <input class="form-control" id="batimentos" name="batimentos" placeholder="">
              </div>
              <div class="form-group">
                <label for="pressao">Pressão Arterial</label>
                <input class="form-control" id="pressao" name="pressao" placeholder="">
              </div>
              <div class="form-group">
                <label for="resp">Respiração</label>
                <input class="form-control" id="resp" name="resp" placeholder="">
              </div>
              <div class="col-lg-12" style="text-align: right;">
                <button type="submit"  class="btn btn-primary">Enviar</button>
              </div>
            </form>
            <script>
              window.onload = function() {
                  const socket = io('http://127.0.0.1:5000');
      
                  function addList(patient) {
                      const span = document.createElement("span");
                      const list = document.querySelector(".list");
                      list.append(span);
                  }
      
                  socket.on('connect', () => {
                      socket.send('Usuário conectado ao socket!')
                  });
      
                  document.querySelector("form").addEventListener("submit", function(event) {
                      event.preventDefault();
                      socket.emit('conectPatient', {cpf: event.target[0].value, temp: event.target[1].value, batimentos: event.target[2].value, pressao: event.target[3].value, resp: event.target[4].value})
                  })
      
                  socket.on('patients', (msg) => {
                      addToChat(msg)
                  })
      
                  
                  socket.on('patients', (msgs) => {
                      for(msg of msgs) {
                          addToChat(msg)
                      }
                  })
      
              }
      
          </script>
          </section>

        </div>
      </div>
    </main>
  </div>

</body>



{% endblock %}